@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.sidebar {
    position:fixed;
    width: 3em;
    height: 93%;
    padding: 0.5em;
    background-color: black;
    color: white;
    text-align: center;
    top: 8px;
    border-radius: 1em;
}

.dashboard {
    display: flex;
    size: 30px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 1px;
    
}
.icon {
padding-top: 2%;
}
.mapsidebar {
    height: 10px;
    display: flexbox;
    align-items: center;
    text-align: center;
    color: white;
    font-family:   'Jua', sans-serif;
   
}

