@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.sidebar {
    position:fixed;
    width: 3em;
    height: 93%;
    padding: 0.5em;
    background-color: black;
    color: white;
    text-align: center;
    top: 8px;
    border-radius: 1em;
}

.dashboard {
    display: flex;
    size: 30px;
    text-decoration: none;
    color: white;

    padding: 1px;
    
}
.icon {
padding-top: 2%;
}
.mapsidebar {
    height: 10px;
    display: flexbox;
    align-items: center;
    text-align: center;
    color: white;
    font-family:   'Jua', sans-serif;
   
}

.un1{
    display: flexbox;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    top: 3em ;
}

.iconinner {
    position: relative; 
    padding: 12px;
}

.iconinner:hover {
   background-color: white;
   position: relative;
   display: flex;
   border-radius: 10px;
   left: 0px;
   width: 40px;
   height: 18px;
}