.venderclass {
    position: relative;
    top: -2em;
}
.addcustomerdiv {
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    padding: 1em;
    width: 90%;
    margin-top: 10px;
}


.addcustomerdiv h3 {
    position: relative;
    left: 10px;
    top: 5px;
}

.innerdiv {
    position: relative;
    margin: 1px;
    top: -15px;
}

.table {
    width: 100%; 
    height: 100%;
    background-color: aqua;
}

.searchtable{
    width: 95%; 
    height: 100vh;
    background-color: aqua;
    overflow: scroll;
}