.all {
    position: absolute;
    left: 5em;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 1em;
    overflow: hidden;
    padding: 1em;
    top: -10px;
  }
  buttons {
    font-size: large;
    transition: 0.5s;
  }

  buttons.active1 {
    transition: 0.5s;
    color: black;
    text-decoration: underline;
    font-weight: 700;

  }
  
  buttons.sub {
    background-color: yellowgreen;
    color: #fff;
    width: 100% auto;
    padding: 15px 10px;
    cursor: pointer;
  }
  
  .tab {
    position: relative;
    top: -3.5em;
    left: 13em;
    width: fit-content;
  }
  
  buttons {
    margin: 10px;
    color: gray;
  }
  
  buttons.btn2 {
    margin: 10px;
    color: gray;
  }
  
  buttons:hover {
    text-decoration: underline;
    color: black;
  }
  