.is-active {
    background-color: #FF0000;
}

ul {
    text-align: center;
}

#buttontab {
    width: 45%;
    height: 5em;
}

button.active {
  background-color: #505bf0;
  color: #fff;
}

button.sub{
    background-color: yellowgreen;
    color: #fff;
    width:100% auto;
    padding: 15px 10px;
    cursor: pointer;
}