.all{
    position: absolute;
    left: 5em;
    width: 95%;
    height: 90%;
    background-color: rgb(225, 225, 225);
    border-radius: 1em;
    overflow: auto;
    padding: 1em;
}

.is-active {
    background-color: #FF0000;
}

ul {
    text-align: center;
}

#buttontab {
    width: 45%;
    height: 5em;
}

button.active {
  background-color: #505bf0;
  color: #fff;
}

button.sub{
    background-color: yellowgreen;
    color: #fff;
    width:100% auto;
    padding: 15px 10px;
    cursor: pointer;
}