.all {
    position: absolute;
    left: 5em;
    width: 95%;
    height: 90%;
    background-color: pink;
    border-radius: 1em;
    overflow: auto;
    padding: 1em;
  }
  buttons {
    background-color: yellowgreen;
  }

  buttons.active1 {
    background-color: #505bf0;
    color: #fff;
  }
  
  buttons.sub {
    background-color: yellowgreen;
    color: #fff;
    width: 100% auto;
    padding: 15px 10px;
    cursor: pointer;
  }
  
  .tab {
    display: flex;
  }
  
  buttons {
    margin: 10px;
    color: gray;
  }
  
  buttons.btn2 {
    margin: 10px;
    color: gray;
  }
  
  buttons:hover {
    text-decoration: underline;
    color: black;
  }
  